.alert {
  overflow: auto; /* block formatting context */
}

.kalendae a:hover {
  text-decoration: none;
}

label input[type="checkbox"],
label input[type="radio"] {
  display: inline;
  margin-right: 0.5em;
}

@font-face {
	font-family: kreide;
	src: url('/static/font/EraserRegular.ttf');
	font-style: normal;
	font-weight: normal;
}

h2 {color: #FFFFFF;}

body {
    background-image: url("/static/images/slate.jpg");
}

/* Tafel section
-------------------------------------------------- */

.board {
  text-align: center;
  color: #FFFFFF;
}

.board h1 {
  margin: 60px 0 10px;
  font-size: 80px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
  font-family: Kreide; color: #FFFFFF
}

.board h2 {
	margin: 60px 0 10px;
	font-size: 50px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
	font-family: Kreide; color: #FFFFFF
}

.board h3 {
	margin: 60px 0 10px;
	font-size: 40px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
  	font-family: Kreide; color: #FFFFFF
}

.board h4 {
	margin: 60px 0 10px;
	font-size: 30px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
  	font-family: Kreide; color: #FF0000
}

.board h5 {
	font-size: 16px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
  	font-family: Kreide; color: #FFFFFF
}

.board h9 {
	font-size: 12px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
  	font-family: Kreide; color: #FFFFFF
}



.board p {
  font-size: 16px;
  line-height: 1.5;
}
.board .board-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}
.board img {
  display: block;
  margin: 0 auto 30px;
}

