{erl_opts, [debug_info]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
	{erlbuild, ".*", {git, "git@github.com:ulfa/erlbuild.git", "HEAD"}},
	{sue, ".*", {git, "git@github.com:ulfa/sue.git", "HEAD"}},
	{erlib, ".*", {git, "git@github.com:ulfa/erlib.git", "HEAD"}},
	 {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "HEAD"}}},
	{webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
  ]}.
